<div class="form-group">
    <label for="ingredient-name">Nazwa składnika</label>
    <input id="ingredient-name-{{ myIngridients }}" 
        type="text" 
        class="form-control" 
        required>
        <label for="ingredient-measure">Ilość składnika</label>
    <input id="ingredient-measure" 
        type="text" 
        class="form-control" 
        required>
        <label for="unit-name">Jednostka miary</label>
    <input id="unit-name" 
        type="text" 
        class="form-control" 
        required>
</div>